<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Mini Twitter - Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form method="POST" action="{{ url_for('signup') }}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>
